@model Nhom4_DeTai7.Areas.ADMIN.Model.DANHMUC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutPage1.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class="container product_section_container">
    <h2 style="text-align:center; color:red">Delete Product</h2>

    <div>
        <h4>Are you sure you want to delete this product?</h4>
        <hr />
       

        using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "QLDanhMuc")
        }
    </div>
</div>